<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:tx="http://www.springframework.org/schema/tx"        
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
     
  <bean name="courseDao" class="com.seecen.teach.dao.impl.CourseDaoImpl">
     <property name="sessionFactory" ref="sessionFactory"></property>
  </bean>
  
 <bean name="courseAction" class="com.seecen.teach.action.CourseAction">
       <property name="courseDao" ref="courseDao"></property>
   </bean>
	
	<bean name="activityDao" class="com.seecen.teach.dao.impl.ActivityDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="activityAction" class="com.seecen.teach.action.ActivityAction">
		<property name="acDao" ref="activityDao"></property>
	</bean>
	
	<bean name="exportAction" class="com.seecen.teach.excel.StudentExport">
		<property name="courseDao" ref="courseDao"></property>
	</bean>
</beans> 